/** {
	border: 1px solid red;
}*/
.container {
	max-width: 90%;
	height: 70vh;
}

.title {
	text-align: center;
}

img.image-frame {
	margin: auto;
	height: 400px;
}

.caption-frame {
	text-align: center;
	margin: 2em auto 3em auto;
}

.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#thumbs {
	display: flex;
	justify-content: space-around;
}

i.fa-arrow-right {
	float: right;
}