* {
	border: 1px solid red;
}
.container {
	max-width: 90%;
}

img#image-frame {
	margin: auto;
}

.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/*.control {
	min-width: 33.333%;
}*/